body{
  margin: 0;
  padding: 0;
  background-image: url(https://cmkt-image-prd.freetls.fastly.net/0.1.0/ps/4520033/300/200/m1/fpnw/wm0/ylszuji7ddb3j4uqqretezyhrinvgnssibfkhofvvhq6wr7zokyk2g9p5s3bcmcl-.jpg?1527532402&s=d159c59a64f85ab45890595453b5c23f);
  background-size: cover;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

.nav {
	list-style: none;
	text-decoration: none;
	text-align: center;
}

.nav li {
	display: inline-block;
	list-style: none;
	padding: 0px 20px 0px 20px;
	transition: 2s;
}

.nav li a {
	color: white;
	text-decoration: none;
}

.resume_btn{
  display: flex;
  justify-content: center;
}

.resume_btn a {
  position: relative;
  color: black;
  background-image: url(https://cdn.pixabay.com/photo/2015/10/01/15/54/background-967249_960_720.jpg); 
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 15px;
  padding-top: 15px;
  box-shadow: 6px 6px 5px grey;
  font-size: 20px;
  font-family: times new romans; 
}

/*.eye img {
  position: relative;
  left: 800px;
  bottom: 0px;
  top: 2px;
}*/

.dropbtn1 {
  background-image: url(https://odis.homeaway.com/odis/listing/84bd6719-2153-4cb1-86d1-05021d89b8c0.f10.jpg);	
  padding: 16px;
  font-size: 16px;
  font-family: times new romans;
  border: none;
  border-radius: 4px;
  background-color: none;
  color: white;
}

.dropdown1 {
  position: relative;
  display: inline-block;
}

.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;  
}

.dropdown-content1 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: times new romans;
}

.dropdown-content1 a:hover {
	background-color: grey;
}

.dropdown1:hover .dropdown-content1 {
	display: block;
	border-radius: 0px 10px 0px 10px;
	padding: 10px;
	background-color: black;
}