body{
	background-color: powderblue;
	background-image: url(https://cdn.static-economist.com/sites/default/files/20171111_FNP504.jpg);
	/*max-width: 100%;
	max-height: 100%;*/

	background-size: cover;
	color: black;
	font-family: times new roman;
}

img {
	align-content: middle;
}

.nav {
	list-style: none;
	text-decoration: none;
	text-align: center;
	
}

.nav li {
	display: inline-block;
	list-style: none;
	padding: 0px 20px 0px 20px;
	transition: 2s;
}

.nav li a {
	color: white;
	text-decoration: none;
}



/* Dropdown Button */
.dropbtn1 {
  background-image: url(https://odis.homeaway.com/odis/listing/84bd6719-2153-4cb1-86d1-05021d89b8c0.f10.jpg);	
  padding: 16px;
  font-size: 16px;
  font-family: times new romans;
  border: none;
  border-radius: 4px;
  background-color: none;
  color: white;
}

/* The container <div> - needed to position the dropdown content */
.dropdown1 {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;  
}

/* Links inside the dropdown */
.dropdown-content1 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: times new romans;
}

/* Change color of dropdown links on hover */
.dropdown-content1 a:hover {
	background-color: grey;
}

/* Show the dropdown menu on hover */
.dropdown1:hover .dropdown-content1 {
	display: block;
	border-radius: 0px 10px 0px 10px;
	padding: 10px;
	background-color: black;
}